/* ARTWORKS */

.artwork-card-container {
	/* masonry layout */
	columns: 1;
	column-gap: 15px;
	margin-top: 20px;
}

.artwork-details-container {
	display: flex;
	flex-direction: column;
    justify-content: center;

}

.artwork-details-image-container {
	width: 100%;
	max-width: 600px;
    max-height: fit-content;
}

.artwork-details-text-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: fit-content;
}

.artwork-card-image {
	width: 100%;
	margin-bottom: 8px;
}

.artwork-card-text {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.artwork-card-text > h5 {
	margin-bottom: 4px;
}

.artwork-card-text > h6 {
	margin-top: 0;
}

/* LOCATION */

#phone-icon-container {
	grid-area: phone;
}
#email-icon-container {
	grid-area: email;
}
#facebook-icon-container {
	grid-area: facebook;
}
#twitter-x-icon-container {
	grid-area: twitterX;
}
#bluesky-icon-container {
	grid-area: bluesky;
}
#instagram-icon-container {
	grid-area: instagram;
}

#contact-icons {
	display: grid;
	justify-items: left;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-template-areas:
		'phone'
		'email'
		'facebook'
		'instagram'
		'bluesky'
		'twitterX';
	column-gap: 30px;
}

/* 380-479 */
@media screen and (min-width: 380px) {
	/* No changes needed in this range */
}

/* 480-767 */
@media screen and (min-width: 480px) {
	#contact-icons {
		grid-template-rows: auto;
		grid-template-columns: repeat(2, auto) 1fr;
		grid-template-areas:
			'phone facebook .'
			'email instagram .'
			'bluesky twitterX .';
	}
}

/* 768-1024 */
@media screen and (min-width: 768px) {
	.artwork-card-container {
		columns: 2;
	}
	#contact-icons {
		grid-template-rows: auto;
		grid-template-columns: repeat(3, auto) 1fr;
		grid-template-areas:
			'phone facebook bluesky .'
			'email instagram twitterX .';
	}
}

/* 1024-1199 */
@media screen and (min-width: 1024px) {
	.artwork-card-container {
		columns: 3;
	}
}

/* 1200-1365 */
@media screen and (min-width: 1200px) {
    .artwork-details-container {
        flex-direction: row;
        gap: 40px;
    }
    .artwork-details-image-container {
        width: 50%;
    }
    
    .artwork-details-text-container {
        width: 50%;
    }
	#contact-icons {
		grid-template-rows: auto;
		grid-template-columns: repeat(6, auto) 1fr;
		grid-template-areas: 'phone email facebook instagram bluesky twitterX .';
	}
}

/* 1366-1599 */
@media screen and (min-width: 1366px) {
	.artwork-card-container {
		columns: 4;
	}
}

/* 1600+ */
@media screen and (min-width: 1600px) {
	/* No changes needed in this range */
}
