@import url('./styles/variables.css');
@import url('./styles/animations.css');
@import url('./styles/global.css');
@import url('@components/common/common.css');
@import url('@components/input/input.css');
@import url('@components/layout/layout.css');
@import url('@components/pages/admin/admin.css');
@import url('@components/pages/public/public.css');
