/* FORM INPUT */

.form-item,
.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--margin-xl);
}

.form-item:focus-within label {
	color: var(--secondary-color-darker);
}

.checkbox-with-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2px;
	gap: var(--gap-xs);
}

input,
select,
textarea {
	color: var(--input-text-color);
	font-family: var(--regular-font);
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

textarea {
	min-height: 200px;
	max-width: 100%;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
select {
	display: block;
	background-color: var(--standard-neutral);
	background-clip: padding-box;
	width: 100%;
	padding: var(--form-padding-y) var(--form-padding-x);
	border: 1px solid var(--primary-color-pale);
	border-radius: var(--border-radius-sm);
	box-sizing: border-box;
	transition: border-color 0.15s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
	color: var(--primary-color);
	background-color: var(--standard-neutral);
	outline: none;
	border-color: var(--secondary-color);
}

input:disabled,
textarea:disabled,
select:disabled {
	background-color: var(--secondary-color-pale);
	opacity: 1;
}

label {
	display: inline-block;
	margin-bottom: var(--margin-xxs);
	font-size: 0.9rem;
	font-weight: var(--normal-font-weight);
}

input[type='checkbox'],
input[type='radio'] {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	padding: 0;
	border: 1px solid var(--primary-color-pale);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type='checkbox'] {
	border-radius: var(--border-radius-sm);
}

input[type='radio'] {
	border-radius: 50%;
}

input[type='checkbox']:focus,
input[type='radio']:focus {
	border-color: var(--secondary-color);
}

input[type='checkbox']:checked,
input[type='radio']:checked {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color-darker);
}

input[type='checkbox'] + label,
input[type='radio'] + label {
	margin-bottom: 0;
}

input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
	font-weight: var(--bold-font-weight);
}

.button-group {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: var(--gap-sm);
	margin-top: var(--margin-md);
}

button {
	color: var(--standard-neutral);
	background-color: var(--primary-color);
	font-family: var(--regular-font);
	font-size: 0.9rem;
	font-weight: var(--normal-font-weight);
	text-transform: uppercase;
	padding: var(--padding-xs) var(--padding-lg);
	outline: none;
	border: 2px solid var(--primary-color);
	border-radius: var(--border-radius-sm);
	cursor: pointer;
}

button:hover {
	background-color: var(--primary-color-lighter);
}

button:focus {
	border: 2px solid var(--secondary-color);
}

button.cancel {
	color: var(--secondary-color);
	background-color: var(--standard-neutral);
	border: 2px solid var(--secondary-color);
}

.input-with-icon {
	position: relative;
	display: flex;
	flex-direction: column;
}

.input-with-icon i {
	position: absolute;
	top: 12px;
	right: 10px;
}

.fa-eye {
	opacity: 0.8;
}

.fa-eye-slash {
	opacity: 0.4;
}

.error {
	color: var(--danger-color);
	font-size: 0.8rem;
	margin: 0;
}

/* No media queries needed for these elements */
