
#add-artist-form {
    max-width: 800px;
}

#add-category-form {
    max-width: 400px;
}

#add-artist-form,
#add-category-form {
    width: 100%;
}


#add-artist-first-name-form-item,
#add-artist-last-name-form-item,
#add-artist-location-form-item,
#add-category-title-form-item {
	width: 100%;
}

#add-artist-first-name-form-item {
    grid-area: artist-first-name;
}

#add-artist-last-name-form-item {
    grid-area: artist-last-name
}

#add-artist-location-form-item {
    grid-area: artist-location
}

#add-category-title-form-item {
    grid-area: category-title
}

#add-artist-form-inputs {
    display: grid;
    justify-items: left;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        'artist-first-name'
        'artist-last-name'
        'artist-location';
}

#add-category-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.delete-icon {
	width: 30px;
}
.delete-icon i {
	color: #333;
	opacity: 0.4;
	cursor: pointer;
}
.delete-icon i:hover {
	color: var(--danger-color);
	opacity: 0.8;
}

/* MEDIA QUERIES */

/* 380-479 */
@media screen and (min-width: 380px) {
	/* No changes needed in this range */
}

/* 480-767 */
@media screen and (min-width: 480px) {
	/* No changes needed in this range */
}

/* 768-1024 */
@media screen and (min-width: 768px) {
	#add-artist-form-inputs {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            'artist-first-name artist-last-name'
            'artist-location .';
        column-gap: 15px;
    }

}

/* 1024-1199 */
@media screen and (min-width: 1024px) {
	/* No changes needed in this range */
}

/* 1200-1365 */
@media screen and (min-width: 1200px) {
	/* No changes needed in this range */
}

/* 1366-1599 */
@media screen and (min-width: 1366px) {
	/* No changes needed in this range */
}

/* 1600+ */
@media screen and (min-width: 1600px) {
	/* No changes needed in this range */
}
