/* LAYOUT */

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background: #eee;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

header,
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary-color);
	color: var(--standard-neutral);
	width: 100%;
	padding: 15px var(--preferred-padding) var(--max-padding);
}

main {
    display: flex;
    flex-direction: column;
	flex: 1;
}

#mag {
	font-family: var(--title-font);
	font-size: 1.3rem;
	font-weight: 200;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 12px;
}

/* TODO: add navlink and active definitions here for DynamicNavLink */

.link,
.link:link,
.link:visited {
	color: rgba(255, 255, 255, 0.85);
	font-size: 0.9rem;
	font-weight: 400;
	text-decoration: none;
}

.link:hover {
	color: var(--standard-neutral);
	text-decoration: underline;
	cursor: pointer;
}

.main-content {
	padding: 10px var(--preferred-padding) var(--max-padding);
}

.button-group {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: var(--gap);
	margin-top: 15px;
}

/* No media queries needed for these elements */

/* FIXME: Nav menu at 344px... maybe hamburger? */
