/* LAYOUT */

.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	background: #eee;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}

header,
footer {
	display: flex;
	background-color: var(--primary-color);
	color: var(--standard-neutral);
	width: 100%;
	padding: 15px var(--preferred-padding) var(--max-padding);
}

header {
	justify-content: space-between;
}

footer {
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.main-content {
	padding: 10px var(--preferred-padding) var(--max-padding);
}

#mag {
	font-family: var(--title-font);
	font-size: 1.3rem;
	font-weight: 200;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: center;
}

.open-nav-menu-icon,
.close-modal-icon {
	font-size: clamp(14px, 1.6rem, 32px);
	cursor: pointer;
}

dialog {
	background-color: var(--standard-neutral);
	color: var(--primary-color);
	width: 80%;
	max-width: 500px;
	margin: auto;
	border: none;
	box-shadow: 0 4px 12px var(--dialog-box-shadow-color);
}

dialog[open] {
	animation: fade-in 0.4s ease-out;
}

dialog::backdrop {
	background-color: var(--dialog-backdrop-color);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	animation: fade-in 0.4s ease-out;
}

.modal {
	display: flex;
	flex-direction: column;
}

.modal-top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font: 500 1.4rem var(--regular-font);
	text-transform: uppercase;
	margin-bottom: 15px;
}

.nav-link {
	color: var(--standard-neutral);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
.nav-link,
.active-link {
	font-size: 0.95rem;
	font-weight: 400;
	text-decoration: none;
	padding: 4px 6px;
}
.nav-link:hover,
.nav-link:active {
	color: var(--standard-neutral);
	background-color: var(--secondary-color-lighter);
	border: 1px solid var(--secondary-color-lighter);
	cursor: pointer;
}
.active-link {
	color: var(--standard-neutral);
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	cursor: default;
}
.active-link:hover {
	color: var(--standard-neutral);
	cursor: default;
}

/* 380-479 */
@media screen and (min-width: 380px) {
	/* No changes needed in this range */
}

/* 480-767 */
@media screen and (min-width: 480px) {
	/* No changes needed in this range */
}

/* 768-1024 */
@media screen and (min-width: 768px) {
	header {
		flex-direction: row;
		justify-content: space-between;
		padding: 15px clamp(20px, 4vw, 30px);
	}
	nav {
		flex-direction: row;
		gap: 8px;
	}
}

/* 1024-1365 */
@media screen and (min-width: 1024px) {
	/* No changes needed in this range */
}

/* 1200-1365 */
@media screen and (min-width: 1200px) {
	/* No changes needed in this range */
}

/* 1366+ */
@media screen and (min-width: 1366px) {
	/* No changes needed in this range */
}
