/* FORM INPUT */

.form-item {
	display: flex;
	flex-direction: column;
}

label {
	color: #666;
	font-size: 0.9rem;
	font-weight: 500;
}

input {
	height: 1.5rem;
	margin: 0;
}

textarea {
	min-height: 200px;
}

input,
textarea {
	font-size: 1rem;
	font-family: 'Assistant', sans-serif;
}

.checkbox-with-label {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.error {
	color: var(--danger-color);
	font-size: 0.8rem;
	margin: 0;
}

button {
	color: white;
	background-color: #1e323c;
	font-family: 'Assistant', sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
	padding: 5px;
	outline: none;
	border: 2px solid #1e323c;
	border-radius: 4px;
	cursor: pointer;
}

button.cancel {
	color: #c66311;
	background-color: white;
	border: 2px solid #c66311;
}

/* added from old */

.input-with-icon {
	position: relative;
	display: flex;
	flex-direction: column;
}

.input-with-icon i {
	position: absolute;
	top: 8px;
	right: 6px;
}

.fa-eye {
	opacity: 0.8;
}

.fa-eye-slash {
	opacity: 0.4;
}

/* No media queries needed for these elements */
